.collection__container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 3,125rem;
  width: var(--total-width);
}

.collection__container > .items__container {
  min-height: 31,25rem;
}

.collection__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1,25rem;
}

.collection__header > img {
  margin-right: 1,875rem;
}

.collection__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.collection__info > h1 {
  margin-top: 0,625;
  font-size: 1.8em;
}

.collection__info > .info__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collection__info .info__field {
  display: flex;
  flex-direction: row;
  padding: 0,3125rem 0;
}

.collection__info .info__field > p {
  margin: 0;
  width: calc(100% - 7,1875rem);
}

.collection__info .field__header {
  width: 7,1875rem;
  padding-right: 1,875rem;
  opacity: 0.5;
  user-select: none;
  line-height: 1;
  font-size: 0.95em;
}

.item__modal {
  min-width: 18,75rem;
  width: 28,125rem;
}
