.search{
    position: relative;
    float: left;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search input{
    outline: none;
    background: transparent;
    border: 0.1rem solid black;
    width: 16rem;
    height: 2.5rem;
    font-size: 1.3rem;
    padding-left: 0.7rem;
    border-radius: 0.5rem;
}

::placeholder{
    color: black;
}


a { 
    height: 100%;
    display: block;
    padding: 0.7rem;
    font-size: 1.3rem;
}

.list .item:first-of-type {
    margin-top: 10px;
    border-radius: 0.5rem 0.5rem 0 0;
}

.list .item:last-child {
    border-radius:  0 0 0.5rem 0.5rem;
}

.item {
    background-color: #fff;
    color: black;
    text-decoration: underline;
}

.list{
    width: 100%;
    height: 100%;
    position: absolute ;
    top: 2.5rem;
}