.profile__container {
  display: flex;
  position: relative;
  margin-top: 3,125rem;
  width: var(--total-width);
}

.collections__container {
  width: calc(var(--total-width) - var(--items-width) / 2);
}

.collections__container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--items-width) / 2);
  margin-right: 2,5rem;
}

.user-info > h1 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 0,3125rem;
}

.last-visit {
  margin-top: 0;
  text-align: center;
  margin-bottom: 1,5625rem;
}

.user-info__stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-info__stats > .stats__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info__stats >
.stats__stat:not(.stats__stat:last-child) {
  margin-right: 0,9375rem;
}

.stats__stat > span {
  margin: 0;
  margin-top: 0,3125rem;
  font-size: 1.1em;
}

.collection-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 0,9375rem;
}

.collection-info > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1,25rem;
}

.collection-info > label > .MuiButtonBase-root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9,375rem;
  height: 13,125rem;
}

.collection-info > label > .MuiButtonBase-root * {
  margin: 0;
}

.collection-info__fields {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 0,625rem;
}

.collection-modal {
  min-width: 18,75rem;
  width: 34,375rem;
}
